.navigation {
  background: #f2f2f2;
  height: 48px;
  width: 100%;
  align-items: center;
  display: flex;
  padding: 0 8px;
  margin-bottom: 50px;

  &#mw-navbar {
    background: none;
  }
}

.navigation__wrapper {
  display: flex;
}

.navigation__links {
  margin: 0 auto 0 0;
  align-items: center;
  display: flex;
  list-style: none;
  padding: 0;

  .nav-link {
    display: inline-block;
    padding: 0 8px;
    align-items: center;
    text-align: center;
    color: #828282;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }

    &.link__highlighted {
      font-size: 14px;
      font-weight: 500;
      text-transform: uppercase;
      color: #eb4747;
    }
  }
}

.navigation__actions {
  display: flex;

  .action {
    padding: 0 10px;
    display: flex;
    align-items: center;
    position: relative;

    &::before {
      content: "0";
      position: absolute;
      background-repeat: no-repeat;
      background-size: contain;
      width: 14px;
      height: 14px;
      border-radius: 50%;
      background-color: #eb4747;
      right: 4px;
      top: 8px;
      border: 2px solid #f2f2f2;
      color: #fff;
      font-size: 8px;
      padding-left: 3px;
    }
    &.link {
      &::before {
        content: none;
      }
    }
  }
}

.header .navigation__actions .action::before {
  top: -4px;
}

.breadcrumb {
  margin-bottom: 50px;
}

.breadcrumb ul {
  display: flex;
  list-style: none;
  padding: 0;
  color: #828282;

  li {
    margin: 0 8px 0 0;
    a {
      color: #828282;
      text-decoration: none;
    }
  }
}

.breadcrumb li::before {
  content: ">";
  padding-right: 8px;
}

.breadcrumb li:first-child::before {
  content: "";
}
