.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;

  .tag__item {
    border: 1px solid #cacccf;
    padding: 8.5px 8px;
    background-color: #f9f9fa;
    border-radius: 2px;
    color: #52575c;

    &:hover {
      color: #e93c3c;
      border-color: #e93c3c;
      cursor: pointer;
    }
    &:focus {
      outline: 1px solid #52575c;
    }

    &:active,
    &.active {
      color: #ffffff;
      background-color: #e93c3c;
      border-color: #e93c3c;
    }

    &.tag__item-hide {
      display: none;
    }

  }
}
