<div class="card">
    <img class="card__img" src="../../assets/images/Rectangle-4.png" alt="form" />
    <div class="card__art">Арт 1232425</div>
    <p class="card__description">Костюм "СИРИУС-Горка" куртка, брюки (гражданские размеры) КМФ Мультикам</p>
    <div class="card__price"> Опт 3144 ₽
        <div class="card__price-higlighted">Розница 4235 ₽</div>
    </div>
    <div class="card__footer">
        <button class="btn btn-primary">В корзину</button>
        <button class="btn btn-primary btn-like"></button>
    </div>
</div>