<div class="sidebar">
    <button class="accordion">
        Цена, руб
    </button>
    <div class="panel">
        <div class="item-content">
            {{> price-input}}
        </div>
    </div>
    <button class="accordion">
        Вид изделия
    </button>
    <div class="panel">
        <div class="item-content">
            <div class="checkbox">
                <input class="checkbox__input" type="checkbox" id="var-1" name="var-1" value="Брюки">
                <label for="var-1">Брюки</label>
            </div>
            <div class="checkbox isDisabled">
                <input disabled="disabled" class="checkbox__input" type="checkbox" id="var-2" name="var-2" value="indigo">
                <label for="var-2">Жилет</label>
            </div>
            <div class="checkbox">
                <input class="checkbox__input" type="checkbox" id="var-3" name="var-3" value="indigo">
                <label for="var-3">Костюм</label>
            </div>
            <div class="checkbox">
                <input class="checkbox__input" type="checkbox" id="var-4" name="var-4" value="indigo">
                <label for="var-4">Куртка</label>
            </div>
            <div class="checkbox">
                <input class="checkbox__input" type="checkbox" id="var-5" name="var-5" value="indigo">
                <label for="var-5">Полукомбинезон</label>
            </div>
        </div>
    </div>
    <button class="accordion">
        Сезон
    </button>
    <div class="panel">
        <div class="item-content">
            <div class="checkbox">
                <input class="checkbox__input" type="checkbox" id="var-6" name="var-6" value="indigo">
                <label for="var-6">Зима</label>
            </div>
        </div>
    </div>
    <button class="accordion">
        Торговая марка / Бренд
    </button>
    <div class="panel">
        <div class="item-content">
            <div class="checkbox">
                <input class="checkbox__input" type="checkbox" id="var-7" name="var-7" value="indigo">
                <label for="var-7">СИРИУС</label>
            </div>
        </div>
    </div>
    <button class="accordion">
        Пол
    </button>
    <div class="panel">
        <div class="item-content">
            <div class="checkbox">
                <input class="checkbox__input" type="checkbox" id="var-8" name="var-8" value="indigo">
                <label for="var-8">Женский</label>
            </div>
            <div class="checkbox">
                <input class="checkbox__input" type="checkbox" id="var-9" name="var-9" value="indigo">
                <label for="var-9">Мужской</label>
            </div>
            <div class="checkbox">
                <input class="checkbox__input" type="checkbox" id="var-10" name="var-10" value="indigo">
                <label for="var-10">Универсальный</label>
            </div>
        </div>
    </div>
    <button class="accordion">
        Состав
    </button>
    <div class="panel">
        <div class="item-content">
            <div class="checkbox">
                <input class="checkbox__input" type="checkbox" id="var-11" name="var-11" value="indigo">
                <label for="var-11">Брюки</label>
            </div>
            <div class="checkbox">
                <input class="checkbox__input" type="checkbox" id="var-12" name="var-12" value="indigo">
                <label for="var-12">Брюки</label>
            </div>
            <div class="checkbox">
                <input class="checkbox__input" type="checkbox" id="var-13" name="var-13" value="indigo">
                <label for="var-13">Костюм</label>
            </div>
            <div class="checkbox">
                <input class="checkbox__input" type="checkbox" id="var-14" name="var-14" value="indigo">
                <label for="var-14">Куртка</label>
            </div>
            <div class="checkbox">
                <input class="checkbox__input" type="checkbox" id="var-15" name="var-15" value="indigo">
                <label for="var-15">Полукомбинезон</label>
            </div>
            <div class="checkbox">
                <input class="checkbox__input" type="checkbox" id="var-16" name="var-16" value="indigo">
                <label for="var-16">Полукомбинезон</label>
            </div>
        </div>
    </div>
    <button class="accordion">
        Ткань/Материал верха
    </button>
    <div class="panel">
        <div class="item-content">
            <div class="checkbox">
                <input class="checkbox__input" type="checkbox" id="var-17" name="var-17" value="indigo">
                <label for="var-17">Брюки</label>
            </div>
            <div class="checkbox">
                <input class="checkbox__input" type="checkbox" id="var-18" name="var-18" value="indigo">
                <label for="var-18">Жилет</label>
            </div>
            <div class="checkbox">
                <input class="checkbox__input" type="checkbox" id="var-19" name="var-19" value="indigo">
                <label for="var-19">Костюм</label>
            </div>
            <div class="checkbox">
                <input class="checkbox__input" type="checkbox" id="var-20" name="var-20" value="indigo">
                <label for="var-20">Куртка</label>
            </div>
            <div class="checkbox">
                <input class="checkbox__input" type="checkbox" id="var-21" name="var-21" value="indigo">
                <label for="var-21">Полукомбинезон</label>
            </div>
        </div>
    </div>
    <button class="accordion">
        Утеплитель
    </button>
    <div class="panel">
        <div class="item-content">
            <div class="checkbox">
                <input class="checkbox__input" type="checkbox" id="var-22" name="var-22" value="indigo">
                <label for="var-22">Брюки</label>
            </div>
            <div class="checkbox">
                <input class="checkbox__input" type="checkbox" id="var-23" name="var-23" value="indigo">
                <label for="var-23">Жилет</label>
            </div>
            <div class="checkbox">
                <input class="checkbox__input" type="checkbox" id="var-24" name="var-24" value="indigo">
                <label for="var-24">Костюм</label>
            </div>
            <div class="checkbox">
                <input class="checkbox__input" type="checkbox" id="var-25" name="var-25" value="indigo">
                <label for="var-25">Куртка</label>
            </div>
            <div class="checkbox">
                <input class="checkbox__input" type="checkbox" id="var-26" name="var-26" value="indigo">
                <label for="var-26">Полукомбинезон</label>
            </div>
        </div>
    </div>
    <button class="accordion">
        Назначение
    </button>
    <div class="panel">
        <div class="item-content">
            <div class="checkbox">
                <input class="checkbox__input" type="checkbox" id="var-27" name="var-27" value="indigo">
                <label for="var-27">Брюки</label>
            </div>
            <div class="checkbox">
                <input class="checkbox__input" type="checkbox" id="var-28" name="var-28" value="indigo">
                <label for="var-28">Жилет</label>
            </div>
            <div class="checkbox">
                <input class="checkbox__input" type="checkbox" id="var-29" name="var-29" value="indigo">
                <label for="var-29">Костюм</label>
            </div>
        </div>
    </div>
    <button class="accordion">
        Цвет
    </button>
    <div class="panel">
        <div class="item-content">
            <div class="checkbox">
                <input class="checkbox__input" type="checkbox" id="var-30" name="var-30" value="indigo">
                <label for="var-30">Бирюзовый</label>
            </div>
            <div class="checkbox">
                <input class="checkbox__input" type="checkbox" id="var-31" name="var-31" value="indigo">
                <label for="var-31">Васильковый</label>
            </div>
            <div class="checkbox">
                <input class="checkbox__input" type="checkbox" id="var-32" name="var-32" value="indigo">
                <label for="var-32">Красный</label>
            </div>
            <div class="checkbox">
                <input class="checkbox__input" type="checkbox" id="var-33" name="var-33" value="indigo">
                <label for="var-33">Лимнонный</label>
            </div>
            <div class="checkbox">
                <input class="checkbox__input" type="checkbox" id="var-34" name="var-34" value="indigo">
                <label for="var-34">Олива</label>
            </div>
            <div class="item-content">
                <div class="checkbox">
                    <input class="checkbox__input" type="checkbox" id="var-35" name="var-35" value="indigo">
                    <label for="var-35">Оранжевый</label>
                </div>
                <div class="checkbox">
                    <input class="checkbox__input" type="checkbox" id="var-36" name="var-36" value="indigo">
                    <label for="var-36">Серый</label>
                </div>
                <div class="checkbox">
                    <input class="checkbox__input" type="checkbox" id="var-37" name="var-37" value="indigo">
                    <label for="var-37">Синий</label>
                </div>
                <div class="checkbox">
                    <input class="checkbox__input" type="checkbox" id="var-38" name="var-38" value="indigo">
                    <label for="var-38">Черный, красный</label>
                </div>
                <div class="checkbox">
                    <input class="checkbox__input" type="checkbox" id="var-39" name="var-39" value="indigo">
                    <label for="var-39">Черный</label>
                </div>
            </div>
        </div>
        <button>Показать (123)</button>
        <button>Сбросить</button>
    </div>
</div>


<script src="../../assets/js/accordion.js"></script>