<div class="container">
    <div class="select-container">
        <select class="select">
            <option value="По умолчанию">По умолчанию </option>
            <option value="По популярности">По популярности</option>
            <option value="По возрастанию цены" selected="selected">По возрастанию цены</option>
            <option value="По убыванию цены">По убыванию цены</option>
            <option value="По новинкам">По новинкам</option>
            <option value="По скидке">По скидке</option>
            <option value="По алфавиту">По алфавиту</option>
        </select>
    </div>
</div>