<div class="container">
    <h1>Спецодежда Зимняя</h1>
    <div class="tag-list">
        <div class="tags">
            <div tabindex="1" class="tag__item">Спецодежда с заключением Минпромторга</div>
            <div tabindex="1" class="tag__item">Костюмы женские</div>
            <div tabindex="1" class="tag__item active">Костюмы мужские</div>
            <div tabindex="1" class="tag__item">Костюмы сварщика</div>
            <div tabindex="1" class="tag__item">Жилеты женские</div>
            <div tabindex="1" class="tag__item">Жилеты мужские</div>
            <div tabindex="1" class="tag__item">Жилеты зимние</div>
            <div tabindex="1" class="tag__item">Брюки</div>
            <div tabindex="1" class="tag__item">Куртки женские</div>
            <div tabindex="1" class="tag__item">Куртки мужские</div>
            <div tabindex="1" class="tag__item">Полукомбинезоны зимние</div>
            <div tabindex="1" class="tag__item" id="show-more">Показать еще</div>
            <div tabindex="1" class="tag__item tag__item-hide">Костюмы сварщика</div>
            <div tabindex="1" class="tag__item tag__item-hide">Жилеты женские</div>
            <div tabindex="1" class="tag__item tag__item-hide">Жилеты мужские</div>
            <div tabindex="1" class="tag__item tag__item-hide" id="show-less">Скрыть</div>
        </div>
    </div>
</div>
