@import "../vars.scss";
@import "../mixins.scss";

.mobile-view {
  .sidebar {
    display: none;

    @include breakpoint($tablet-bp) {
      width: 100vw;
      position: fixed;
      top: 0;
      display: none;
      flex-direction: column;
      height: fit-content;
      overflow: auto;
      transition: transform 0.2s linear;
      z-index: 100;
      background-color: #fff;
    }

    .accordion,
    .panel {
      background-color: #fff;
    }
  }
}

.show-sidebar .sidebar {
  transform: translateX(0);
  display: flex;
}

.sidebar {
  min-width: 256px;
  max-width: 268px;
  background-color: #e8e8e8;
  padding: 16px;
  height: fit-content;
}

.sidebar__footer {
  display: flex;
  flex-direction: column;
}

.accordion {
  cursor: pointer;
  padding: 16px 0;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 18px;
  transition: 0.5s;
  background-color: #e8e8e8;
}

.accordion.active {
  margin-bottom: 20px;

  + .panel {
    padding-top: 4px;
    .item-content {
      padding-left: 2px;
      padding-bottom: 20px;
      border-bottom: 1px solid #cacccf;
    }
  }
}

.accordion:after {
  content: "";
  background-image: url(../images/svg/up.svg);
  font-size: 18px;
  font-weight: bold;
  float: right;
  margin-left: 5px;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.active:after {
  background-image: url(../images/svg/up.svg);
  transform: rotate(180deg);
}

.panel {
  color: #212121;
  background-color: #e8e8e8;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
}
