@import "../vars.scss";

.btn {
  padding: 16px 20px;
  border: none;
}

.btn-primary {
  border: 1px solid $primary-bolrder;
  background: $white;
  color: $dark-gray;
  padding: 10px 36px;

  &:hover {
    background: $light-primary;
    color: $white;
  }

  &:active,
  &:focus {
    border-color: $light-primary;
  }
}

.btn-secondary {
  border: 1px solid $light-primary;
  background: $white;
  color: $light-primary;

  &.btn-secondary-clear {
    border: none;
    background: transparent;
  }

  &:hover {
    background: $light-primary;
    color: $white;
  }

  &:active,
  &:focus {
    border-color: $light-primary;
  }
}

.btn-fluidWidth {
    width: 100%;
  }
  

// btn with icons
.btn-menu {
  padding-left: 54px;
  position: relative;
  background: $light-primary;
  color: $white;

  &::before {
    content: "";
    position: absolute;
    background-repeat: no-repeat;
    background-size: contain;
    width: 24px;
    height: 24px;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    background-image: url(../images/svg/menu.svg);
  }
}

#mw-header {
  .btn-menu {
    padding-left: 32px;
    &::before {
      left: 50%;
      transform: translate(-50%, -50%);
    }

    &.open {
      position: fixed;
      top: 0;
      left: 268px;
      width: 52px;
      height: 50px;
     z-index: $z-index-sidebar;
      &::before {
        background-image: url(../images/svg/x.svg);

        svg path {
          stroke: $white;
        }
      }
    }
  }
}

.btn-filter {
  padding-left: 54px;
  position: relative;
  color: $dark-muted-text;
  background: transparent;

  &::before {
    content: "";
    position: absolute;
    background-repeat: no-repeat;
    background-size: contain;
    width: 24px;
    height: 24px;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    background-image: url(../images/svg/filter.svg);
  }
}

.btn-like {
  border: 1px solid $primary-bolrder;
  background: $white;
  color: $dark-gray;
  position: relative;
  padding: 6px 15px;

  &::before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url(../images/svg/like.svg);
    background-repeat: no-repeat;
    background-position: center;

    svg path {
      stroke: $dark-gray;
    }
  }

  &:hover::before svg path {
    stroke: $light-primary;
  }

  &:active::before svg path,
  &:focus::before svg path {
    stroke: $light-primary;
  }
}

.btn-arrow {
  position: relative;
  padding-left: 30px;
  &::before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url(../images/svg/right.svg);
    background-repeat: no-repeat;
    background-position: center;
    transform: rotate(-180deg);
    position: absolute;
    top: 12px;
    left: 5px;
  }
}
