@import "../vars.scss";

.checkbox {
  margin-bottom: 14px;

  &:last-child {
    margin-bottom: 0;
  }
}

.checkbox__input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.isDisabled {
  .checkbox__input {
    + label {
      color: $primary-bolrder;
      &::before {
        background-color: #e9ecef;
      }
    }
  }
}

.checkbox__input + label {
  display: inline-flex;
  align-items: center;
  user-select: none;
  font-weight: 400;
  font-size: 16px;
}

.checkbox__input + label::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #adb5bd;
  border-radius: 0.25em;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 75% 75%;
}

.checkbox__input:not(:disabled):not(:checked) + label:hover {
  cursor: pointer;
  color: $primary;
  &::before {
    background-color: $lightest-primary;
    opacity: 0.4;
  }
}

.checkbox__input:not(:disabled):active + label::before {
  background-color: $lightest-primary;
  border-color: $lightest-primary;
}

.checkbox__input:focus + label::before {
  outline: 2px solid $primary;
}

.checkbox__input:focus:not(:checked) + label::before {
  border-color: $primary;
}

.checkbox__input:checked + label::before {
  border-color: $primary;
  background-color: $primary;
  background-image: url(../images/svg/Check.svg);
}
