@import "../vars.scss";

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 30px;

  .item {
    color: $black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 2px;

    &:first-child {
      transform: rotate(-180deg);
      padding: 2px 7px 3px;
    }
    
    &:last-child {
      padding: 7px 7px 0px;
    }

    &:nth-child(7n) {
      color: $primary-bolrder;
    }

    &.active {
      background: $primary;
      color:$white;
    }

    &:hover:not(.active) {
      background-color: #ddd;
    }
  }
}

.mobile-view .pagination .item {
  &:nth-child(6n),
  &:nth-child(7n) {
    display: none;
  }
  &:nth-child(5n) {
    color: $primary-bolrder;
  }
}
