.select-container {
  margin-bottom: 20px;
  display: flex;

  .select {
    display: block;
    margin-left: auto;
    border: none;
    padding: 5px 10px;
    font-size: 14px;
    color: #52575c;
  }
  .filter {
    display: none;
  }
}

.mobile-view {
  .select-container {
    display: flex;
    justify-content: space-between;

    .select {
      margin-left: 0;
    }
    .filter {
        display: block;
    }
  }
}
