@import "../vars.scss";

.tag-list {
  margin-top: 32px;
  margin-bottom: 10px;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;

  .tag__item {
    border: 1px solid $border-color;
    padding: 8.5px 8px;
    background-color: $light-gray;
    border-radius: 2px;
    color: $dark-gray;

    &:hover {
      color: $primary;
      border-color: $primary;
      cursor: pointer;
    }
    &:focus {
      outline: 1px solid $dark-gray;
    }

    &:active,
    &.active {
      color: $white;
      background-color: $primary;
      border-color: $primary;
    }

    &.tag__item-hide {
      display: none;
    }
  }
}
