<footer>
    <div class="container">
        <div class="footer">
            <div>
                <div>
                    <span>+7 (495) 777-2345</span>
                    <a>Заказать звонок</a>
                </div>
            </div>
            <div>
                <li>каталог</li>
                <li>СПЕЦОДЕЖДА</li>
                <li>Средства защиты рук</li>
                <li>Активный отдых</li>
                <li>Хозтовары и постельные принадлежности</li>
                <li>Ликвидация</li>
            </div>
            <div>
                <li>обувь</li>
                <li>Средства индивидуальной защиты</li>
                <li>жилеты на все случаи жизни</li>
                <li>линия Plus</li>
            </div>
            <div class="form"></div>
        </div>
    </div>
</footer>