<footer class="footer-navigation">
    <div class="container">
        <div class="footer">
            <div>
                <div class="contact">
                    <div class="contact__phone">+7 (495) 777-2345</div>
                    <div class="contact__call"><a href="javasript:;" class="link">Заказать звонок</a></div>
                    <div class="contact__email">info@planeta-sirius.ru</div>
                </div>
                <div class="social">
                    <a href="javasript:;" class="social__icon icon__fb"></a>
                    <a href="javasript:;" class="social__icon icon__ig"></a>
                    <a href="javasript:;" class="social__icon icon__vk"></a>
                </div>
                <div class="social share-link">
                    <a href="javasript:;" class="social__icon icon__exel">Скачать прайс-лист</a>
                </div>
            </div>
            <div>
                <ul class="navigation__links">
                    <li><a href="javasript:;" class="nav-link">каталог</a></li>
                    <li><a href="javasript:;" class="nav-link">СПЕЦОДЕЖДА</a></li>
                    <li><a href="javasript:;" class="nav-link">Средства защиты рук</a></li>
                    <li><a href="javasript:;" class="nav-link">Активный отдых</a></li>
                    <li><a href="javasript:;" class="nav-link">Хозтовары и постельные принадлежности</a></li>
                    <li><a href="javasript:;" class="nav-link link__highlighted">Ликвидация</a></li>
                </ul>
            </div>
            <div>
                <ul class="navigation__links">
                    <li><a href="javasript:;" class="nav-link">обувь</a></li>
                    <li><a href="javasript:;" class="nav-link">Средства индивидуальной защиты</a></li>
                    <li><a href="javasript:;" class="nav-link">жилеты на все случаи жизни</a></li>
                    <li><a href="javasript:;" class="nav-link">линия Plus</a></li>
                </ul>
            </div>
            <div class="subscription-form">
                <h5>Подпишитесь на новости и акции и будьте в курсе всего!</h5>
                <input class="subscription-agreement" type="text" placeholder="Введите свой e-mail">
                <label for="subscription">
                    <input id="subscription" type="checkbox">
                    Я даю согласие на обработку персональных данных и соглашаюсь с правилами обработки персональных данных.
                </label>
            </div>
        </div>
        <div class="footer__other">
            <p>2021 © PLANETA-SIRIUS.RU</p>
            <p class="footer__other-info">Вся приведенная на сайте информация, носят исключительно ознакомительный характер и не является публичной офертой.</p>
        </div>
    </div>
</footer>